/* Style the tab */
.tab {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an current tablink class */
.tab button.current {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

h5 {
  text-align: center;
}

#accountDetails {
  width:55%;
  margin:auto;
}

* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
	width:65%;
	margin: auto;
}

nav {
  background-color: #3274d6;
}

#main {
    background-color: #f3f4f7;
}

@media screen and (max-width: 992px) {
  body {
    width:100%;
  }

  .b-r{
    height: 95vh;
  }

  #accountDetails {
    width:80%;
    margin:auto;
  }

  nav .brand-logo {
    left:15%;
    transform: none;
    -webkit-transform:none;
  }
}

.b-r{
  height: 75vh;
  overflow: hidden;
}

.col-xs-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float:left;
  width:25%;
}

.col-xs-9{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float:left;
  width:75%;
}

.smsContainerUl{
  margin:auto;
}
.scrll_hide {
  float: right;
  height: 100%;
  width: calc(100% + 48px);
  overflow-y: scroll;
  margin: 0 -32px 0 0 !important;
  box-sizing: border-box;
}

html {
	font-family: 'PT Sans', Georgia, serif;
}

#discussion {
	max-width: 600px;
	margin: 2% 5% auto;
	display: flex;
	flex-flow: column wrap;
}

#discussion > .bubble {
	border-radius: 1em;
	padding: 0.25em 0.75em;
	margin: 0.0625em;
	max-width: 50%;
}

#discussion > .bubble.sender {
	align-self: flex-start;
	background-color: #26A69A;
	color: #fff;
}
#discussion > .bubble.recipient {
	align-self: flex-end;
	background-color: #c8c2c2;
}

#discussion > .bubble.sender.first { border-bottom-left-radius: 0.1em; }
#discussion > .bubble.sender.last { border-top-left-radius: 0.1em; }
#discussion > .bubble.sender.middle {
	border-bottom-left-radius: 0.1em;
 	border-top-left-radius: 0.1em;
}

#discussion > .bubble.recipient.first { border-bottom-right-radius: 0.1em; }
#discussion > .bubble.recipient.last { border-top-right-radius: 0.1em; }
#discussion > .bubble.recipient.middle {
	border-bottom-right-radius: 0.1em;
	border-top-right-radius: 0.1em;
}

.collection-item:hover {
	cursor: pointer;
	background-color:#d7d2d2;
}

#choosenDate {
  width: auto;
}
