body {
	background-color: #f7f7f7;
}

#container {
	width:40%;
	margin:auto;
	margin-top:5%;
	padding-top:2%;
	padding-bottom:2%;
	background-color: #fff;
	border-radius: 5%;
	border:inset;
}

#login, #register {
	padding:10%;
}

.waves-light{
	float: right;
	margin-top: 5%;
}

h1 {
	margin: 1rem 0 1.68rem 0;
}

#nav-container {
	width:max-content;
	margin:auto;
}

#errorRegistration, #error {
  color:red;
}

#success {
  color:green;
}

@media screen and (max-width: 992px) {

	body {
		background-color:#fff;
	}

	#container {
		width:90%;
		margin:auto;
		margin-top:5%;
		border: none;
	}
}
